<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Controller\Adminhtml\Index\Delete" type="Etron\DSGVO\Controller\Adminhtml\Index\Delete" />
    <preference for="Magento\Customer\Controller\Adminhtml\Index\MassDelete" type="Etron\DSGVO\Controller\Adminhtml\Index\MassDelete" />
</config>