<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 CleverReach. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="cleverreach" frontName="cleverreach">
            <module name="CleverReach_CleverReachIntegration" />
        </route>
    </router>
</config>
