<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 CleverReach. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="CleverReach_CleverReachIntegration::cleverreach" title="CleverReach" sortOrder="51" />
            </resource>
        </resources>
    </acl>
</config>
