<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 CleverReach. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="CleverReach_CleverReachIntegration" setup_version="2.2.1" />
</config>
