<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\View\Gallery">
            <plugin name="magecomp_instagramshoppable_plugin_block_catalog_product_view_gallery"
                    type="Magecomp\Instagramshoppable\Block\Catalog\Product\View\Gallery"
                    sortOrder="10"
                    disabled="false"/>
    </type>
    <type name="Magecomp\Instagramshoppable\Model\ResourceModel\Instagramshoppableimage\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">instagramshoppable_image</argument>
            <argument name="eventPrefix" xsi:type="string">instagramshoppable_shoppableindex_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">instagramshoppable_shoppableindex_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magecomp\Instagramshoppable\Model\ResourceModel\Instagramshoppableimage</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="instagramshoppable_shoppableindex_grid_data_source" xsi:type="string">Magecomp\Instagramshoppable\Model\ResourceModel\Instagramshoppableimage\Grid\Collection</item>
            </argument>
        </arguments>
     </type>
</config>